# Môi trường ảo (Quan trọng nhất)
venv/
.venv/
env/

# Cache của Python
__pycache__/
*.py[cod]
*$py.class

# Lịch sử của VS Code (nhìn thấy trong ảnh của bạn)
.history/

# Các file hệ thống
.DS_Store
Thumbs.db

# Nếu bạn muốn giữ bí mật API Key (không push file .env)
.env